body{
	background-color: #728C00;
	color:white;
	-
	
}

h1{
	border-style:dotted;
	text-align:center;
	font-size:60px;
	background-color:black;
	margin:120px;
	color:orange;
}	

.voved{
	color:white;
	border-style:solid;
	border-style-color:black;
	text-align: center;
	font-size: 25px;
	padding:0 200px;
	webkit-text-stroke: .1px black;

}

.span{
	text-decoration:underline;
	color:red;
	text-transform: uppercase;
	font-size:19px;
}

.intro{
	color:white;
	border-radius:10px;
	text-align:center;
	font-size: 19px;
	webkit-text-stroke: .1px black;
	
}
.glaven{

	text-align:center;
	font-size:19px;
	webkit-text-stroke: .1px black;
}

.year{
	font-size:20px;
	outline: groove;
	webkit-text-stroke: .1px black;
	color:orange;
}

h2{
	text-align:left;
	font-size:40px;
	margin:60px;
	color:orange;
	background-color:black;
	webkit-text-stroke: .1px black;
}

.tabela{
	border-right;
	float:left;
	text-decoration:underline;
	font-size:20px;
	font-family:sans-serif;
	margin:0px 200px 0 150px;
	background-color:orange;
	padding:0 20px;
	border-right: 3px solid black;
	border-bottom: 3px solid black;	

}

.spandva{
	font-size:40px;
	text-decoration: underline;
	color:white;

}

.evropa{
	font-size:19px;
	font-family:sans-serif;
	text-transform: uppercase;
	border-left: 3px solid black;
	border-bottom-width: 100%;
	border-bottom: 3px solid black;
	webkit-text-stroke: .1px black;

	

}

.spantri{
	font-size:40px;
	text-decoration: underline;
	color:white;
	text-align:center;
}
.prewar{
	float:left;
	text-transform: uppercase;
	font-family:sans-serif;
	font-size:19px;
	text-align:left;
	margin:0 1014px 0 0;
	border-top: 3px solid black;
	border-right:3px solid black;
	border-bottom:3px solid black;
	webkit-text-stroke: .1px black;
}

.course{
	font-size:19px;
	font-family:sans-serif;
	text-transform: uppercase;
	border-top: 3px solid black;
	border-bottom-width: 100%;
	border-bottom: 3px solid black;
}

.after{
	font-size:40px;
	text-decoration: underline;
	color:white;
	text-align:center;
}

.afterm{
	color:black;
	text-transform: uppercase;
	font-family:sans-serif;
	font-size:19px;
	text-align:center;
	border-top: 3px solid black;
	border-right:3px solid black;
	border-bottom:3px solid black;
	webkit-text-stroke: .5px white;
}

